body{
    
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(Book1.JPG);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.Login-page{
    
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
    
}

.Form{
    
    position: relative;
    z-index: 1;
    background-color: darkgrey;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
   
       
}

.Register-Form input{
    
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border=0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    
}


.Register-Form button{
    
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: green;
    width: 100%;
    padding: 15px;
    color: azure;
    cursor: pointer;
    
        
}



.Heading{
  font-family: cursive;
  font-size: 5;
  color: forestgreen;
  text-decoration: underline;
  margin: auto 125px auto;  
  padding: 20px;    
    
    
}



















